#topbar{
  background-color: #8a4862;
  padding: 25px 100px 25px 25px;
  vertical-align: sub;
}
#topbar h1{
  color: white;
  font-family: 'Noto Serif Japanese',serif;
  font-size: 125px;
  display: inline-block;
}
#logo{
  weight: 200px;
  height: 200px;
}
#bottombar{
  background-color: #eee;
  padding: 20px auto;
  margin: 20px auto;
  color: #aaa;
  align: center;
}
#copyright{
  color: #888;
  align: center;
}
